body{
    margin-bottom: 10px;
}
.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
}
.carousel-item{
    padding: 10px 20px;
}
.price{
    color:#ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff5898 0%, #ff136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1,.cat2,.cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-color: #ff5898;
}
.cat2{
    background-color:rgb(49, 49, 206) ;
}
.cat3{
    background-color:darkgoldenrod ;
}
.catagories h1{
    color: white;
}
.catagories img{
    width: 100px;
}
.card{
    box-shadow: 5px 5px 10px lightgray;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: gray;
}
#subscribe button{
    margin-top: 5px;
}
footer{
    text-align: center;
}